
  
  .superscript {
    display: flex;
  }

  .cart-length{
    background-color: #374151;
    color: white;
    margin-left:-5px ;
    padding: 5px 10px;
    border-radius: 100px;
  }

  .posts {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin: auto;
  }
  
  .post {
    width: 24vw;
    margin: 15px;
    border: 1px solid black;
    background-color: white;
    border-radius: 10px;
  }

  .singlepost {
    /* width: 79vw; */
    margin: 15px;
    height: max-content;
    border: 1px solid black;
    background-color: white;
    border-radius: 10px;
  }
  
  .post:hover {
    box-shadow: 5px 5px 5px 5px gray;
    transform: scale(1.02);
  }
  
  .post-top {
    display: flex;
    justify-content: space-between;
    height: 60px;
    margin: 5px;
  }
  
  .title {
    font-size: 18px;
    font-weight: 600;
    width: 85%;
    overflow: hidden;
  }
  
  .wishlist {
    text-align: center;
    border: none;
  }

  
  .add-wishlist {
    height: 30px;
    width: 30px;
    cursor: pointer;
    fill: black;
  }
  
  .remove-wishlist {
    height: 30px;
    width: 30px;
    cursor: pointer;
    fill: red;
  }
  
   
  .post-middle {
    display: flex;
    height: 150px;
    justify-content: center;
    margin: 5px;
  }
  
  .img {
    width: 150px;
    height: 150px;
  }

  .singlepostimg {
    width: 300px;
    height: 300px;
  }
  
  .post-bottom {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 5px;
    bottom: 0;
  }
  
  .price {
    color: green;
    font-size: 20px;
    font-weight: 600;
  }
  
  .add-btn {
    font-weight: 500;
    padding: 5px 10px;
    cursor: pointer;
    font-size: 14px;
    border-radius: 20px;
    background-color: green;
    color: white;
  }
  
  .remove-btn {
    margin: auto 10px;
    font-weight: 500;
    padding: 5px 10px;
    cursor: pointer;
    font-size: 14px;
    border-radius: 20px;
    background-color: red;
    color: white;
  }

  .wishlist-post {
    width: 22vw;
    margin: 18px;
    border: 1px solid black;
    background-color: white;
    border-radius: 10px;
  }

  .wishlist-post:hover {
    box-shadow: 5px 5px 5px 5px gray;
    transform: scale(1.02);
  }
  
  .cart {
    display: flex;
    flex-direction: row;
  }
  
  .cart-left {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 10px 15px;
    padding: 10px;
    height: 200px;
    background-color: white;
    border-radius: 20px;
    width: 70vw;
  }
  
  .cart-image {
    margin: 10px;
    text-align: center;
  }
  
  .cart-img {
    width: 150px;
    height: 150px;

  }
  
  .cart-item-details {
    width: 55vw;
  }
  
  .cart-title {
    font-weight: 600;
    margin: 5px;
  }
  
  .cart-desc {
    font-size: 16px;
    margin: 5px;
  }
  
  .cart-bottom {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
  
  .cart-price {
    font-size: 18px;
    font-weight: 600;
    margin: 5px;
    color: green;
  }
  
 
  
  .cart-del-btn {
    fill: red;
    cursor: pointer;
    height: 20px;
    width: 20px;
  }
  

  .cart-right {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    /* height: 75vh; */
    width: 25vw;
    margin-top: 64px;
    margin-bottom: 10px;
    background-color: white;
    border-radius: 20px;
  }
  
  .cart-right-top {
    margin: 10px;
    padding: 5px;
  }
  
  .your-cart {
    font-size: 30px;
    font-weight: 600;
    margin: 10px 15px;
  }
  
  .summary {
    font-size: 18px;
    margin-bottom: 5px;
    font-weight: 600;
  }
  
  .total-items {
    font-size: 18px;
    margin-bottom: 5px;
  }
  
  .no-items {
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 5px;
    padding-left: 5px;
  }
  
  .cart-right-bottom {
    background-color: green;
    color: white;
    border-radius: 30px;
    cursor: pointer;
    height: 50px;
    margin: 10px;
    padding: 10px;
  }

  .total-amount {
    font-size: 18px;
    margin-bottom: 5px;
  }
  
  
  .total-amount-payable {
    font-size: 18px;
    margin-bottom: 5px;
    text-align: center;
  }
  
  .no-amount {
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 5px;
    padding-left: 5px;
  }
  
  .empty {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    top: 250px;
    font-size: 26px;
  }
  
  .shop-btn {
    background-color: green;
    padding: 10px;
    margin: 10px;
    border-radius: 10px;
    cursor: pointer;
  }
  
  .shop {
    text-decoration: none;
    color: white;
  }
  
  .custom-loader {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100vw;
    margin: auto;
    position: relative;
    top: 250px;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background: conic-gradient(#0000 10%, #766df4);
    -webkit-mask: radial-gradient(farthest-side, #0000 calc(100% - 8px), #000 0);
    animation: s3 1s infinite linear;
  }
  @keyframes s3 {
    to {
      transform: rotate(1turn);
    }
  }
  